@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap');

:root {
	--warna-01: #FE0B3C;
	--warna-02: #020924;
	--Black-90: #343131;
	--white-100: #ffffff;
	--white-90: #E5E5E5;

	--regular: 500;
	--semi-bold: 600;
	--bold: 700;
}

.warna-01 {
	color: var(--warna-01);
}

.white-100 {
	color: var(--white-100);
}

a {
	text-decoration: none !important;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: var(--black-90);
}

h1 {
	font-size: 2.5em !important;
	font-weight: var(--bold) !important;
	margin-bottom: 40px !important;
}

h2 {
	font-size: 2em !important;
	font-weight: var(--bold) !important;
}

section {
	padding: 100px 0px;
	display: flex;
	align-items: center;
}

ul{
	margin: 0 !important;
	padding: 0 !important;
}

li{
	list-style-type:none;
}

/* ------------------------------Navbar------------------------------ */
.navbar {
	/* position: fixed !important; */
	/* top: 0; */
	/* right: 0; */
	/* left: 0; */
	/* z-index: 1030; */
	background-color: var(--white-100);
	border-bottom: 1px solid var(--warna-01);
	padding: 0px !important;
}

.navbar-collapse {
	height: 100%;
	flex-grow: 0 !important;
}

.navbar-nav {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.nav-item a {
	padding: 20px 15px;
	font-size: 16px;
	color: var(--black-90);
	transition: 300ms;
}

.nav-item a:hover {
	color: var(--warna-01);
}

.card-gallery {
	border: 0.1em var(--warna-01) solid;
	border-radius: 10px;
	height: 200px;
	overflow: hidden;
	position: relative;
	background-color: var(--white-100);
}

.card-gallery .background-wrapper {
	height: 100%;
	width: 100%;
	background-size: cover;
	transition: 1000ms ease;
	background-position: center;
}

.card-gallery:hover .background-wrapper {
	transform: scale(1.2);
}

.card-gallery .card-content {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
	padding: 0px 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.card-gallery .card-content a {
	color: var(--white-100);
}

#home,
#banner {
	background-color: var(--white-90);
}

/* ------------------------------Homepage------------------------------ */

#home .header {
	height: 100vh !important;
	position: relative;
	background-image: url('img/home.png');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
}

#home .header::before {
	content: url('img/curve.svg');
	position: absolute;
	bottom: -10px;
	width: 100%;
	height: auto;
}

#home .header-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	max-width: 60%;
}

#home .card {
	height: 100% !important;
	display: flex;
	justify-content: flex-end;
	border: none !important;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	min-height: 175px;
	height: 100%;
}

#home .card .background-wrapper {
	height: 100%;
	width: 100%;
	background-size: cover;
	transition: 1000ms ease;
}

#home .card:hover .background-wrapper {
	transform: scale(1.2);
}

#home .card img {
	transition: 300ms ease;
}

#home .card-content {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
	padding: 0px 15px;
	position: absolute;
	bottom: 0;
}

#home .card-content .tanggal {
	color: var(--white-100);
	background-color: var(--warna-01);
	padding: 5px 10px;
	margin-bottom: 5px;
}

#home .card-content .judul {
	margin-top: 10px;
	color: var(--white-100);
}

#home .card-samping .card-content p {
	transform: scale(0.6);
}

#home .read-more {
	color: var(--warna-01);
	position: relative;
}

#home .read-more::after {
	content: url('img/arrow-right.svg');
	position: absolute;
	padding-left: 5px;
	transform: scale(0.7);
	transition: 500ms ease;
}

#home .read-more:hover::after {
	padding-left: 15px;
}

#home .banner {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

#agenda {
	background-image: url('img/background-1.png');
	background-position: center;
	background-size: cover;
}

#agenda .owl-carousel .owl-nav {
	display: flex;
	justify-content: flex-start;
}

#agenda .owl-carousel .owl-prev,
#agenda .owl-carousel .owl-next {
	padding: 10px 20px !important;
	border-radius: 20px;
	background-color: var(--white-90) !important;
	opacity: 0.5;
}

#agenda .owl-carousel .owl-prev:hover,
#agenda .owl-carousel .owl-next:hover {
	opacity: 1;
}

#agenda .owl-carousel .owl-prev *,
#agenda .owl-carousel .owl-next * {
	transform: scale(1.2);
}

#agenda .owl-carousel .owl-prev:hover *,
#agenda .owl-carousel .owl-next:hover * {
	color: var(--Black-90);
}

#e-aspirasi {
padding-bottom: 1em;
}

#e-aspirasi .btn-e-aspirasi {
	background-color: var(--white-100);
	padding: 10px 100px;
	border: 0.1em solid var(--warna-01);
	border-radius: 10px;
}

#footer {
	background-color: var(--warna-02);
	position: relative;
	color: var(--white-100);
	padding-top: 150px;
}

#footer::before {
content: url('img/curve-negatif.svg');
width: 100%;
height: auto;
position: absolute;
top: -1px;
}

#footer li a{
	color: var(--white-100);
	opacity: 0.5;
}

#footer li a:hover{
	opacity: 1;
}